.App {
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side-panel-visible {
  width: 40rem;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem;
  background-color: white;
  transition: 1s;
}

.side-panel-hidden {
  width: 40rem;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  right: -60rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem;
  background-color: white;
  transition: 1s;
}

.loading-visible {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: white;
  z-index: 10;
  top: 0;
  left: 0;
  transition: 1s;
}

.loader-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.loading-invisible {
  height: 100vw;
  width: 100vh;
  background-color: white;
  position: absolute;
  z-index: 10;
  top: 0;
  left: -100%;
  transition: 1s;
}

.loader {
  width: 12px;
  height: 12px;
  border: 2px solid #2196F3;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* HTML: <div class="loader"></div> */
.loader-text {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader-text:before {
  content:"Generating graph..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}
